/node_modules
/public/hot
/public/banners
/public/blogs
/public/storage
/public/testimonial
/public/packages
/public/extra_files
/storage/*.key
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
